:root {
  --blue: #9cfff8;
  --dark-blue: #34a29e;
  --light-black: #1f2833;
  --grey: #c5c6c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--light-black);
  margin-bottom: 2rem;
  padding: 0 3rem;
}

.nav-list {
  list-style: none;
}

.nav-item a {
  color: var(--blue);
  font-size: 1.2rem;
}

.logo a {
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--blue);
  text-decoration: none;
}
